<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body>

<th:block th:fragment="datatable-css">
  <link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/datatables.net-select-bs/css/select.bootstrap.min.css}" rel="stylesheet"/>
</th:block>
<th:block th:fragment="datatable-js">
  <script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
  <script th:src="@{/webjars/datatables/js/dataTables.bootstrap.js}"></script>
  <script th:src="@{/webjars/datatables.net-select/js/dataTables.select.js}"></script>
  <script th:src="@{/static/js/mcloud/mcloud.dataTables.js}"></script>
</th:block>

<th:block th:fragment="jquery-form">
  <script th:src="@{/webjars/jquery-form/jquery.form.min.js}"></script>
  <script th:src="@{/webjars/jquery-validation/jquery.validate.js}"></script>
  <script th:src="@{/webjars/jquery.serializeJSON/jquery.serializejson.min.js}"></script>
  <script th:src="@{/static/js/mcloud/mcloud.form.js}"></script>
</th:block>

<th:block th:fragment="flot-chart">
  <script th:src="@{/webjars/flot/jquery.flot.js}"></script>
  <script th:src="@{/webjars/flot/jquery.flot.resize.js}"></script>
  <script th:src="@{/webjars/flot/jquery.flot.pie.js}"></script>
  <script th:src="@{/webjars/flot/jquery.flot.categories.js}"></script>
  <script th:src="@{/webjars/flot/jquery.flot.time.js}"></script>
</th:block>

<th:block th:fragment="bootstrap-select-css">
  <link th:href="@{/webjars/bootstrap-select/dist/css/bootstrap-select.css}" rel="stylesheet" />
</th:block>
<th:block th:fragment="bootstrap-select-js">
  <script th:src="@{/webjars/bootstrap-select/dist/js/bootstrap-select.js}"></script>
</th:block>

<th:block th:fragment="form-step">
  <script th:src="@{/webjars/jquery-steps/build/jquery.steps.min.js}"></script>
</th:block>

<th:block th:fragment="addel">
  <script th:src="@{/webjars/addel/addel.jquery.js}"></script>
</th:block>

</body>

</html>