<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404 | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css}">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/static/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link th:href="@{/static/plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">This page doesn't exist</div>
        <div class="button-place">
            <a th:href="@{/admin/dashboard}" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script th:src="@{/static/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/static/plugins/node-waves/waves.js}"></script>
</body>

</html>